#initial-card{
    position: relative;
}
#superposition{
    padding: 2vh 5vw 0 5vw;
    position: absolute;
    width: 100%;
    z-index: 100;
}
#init-carrossel img{
    height: 100vh;
    width: 250vw;
}
#bg1{
    margin-left: -25vw;
}
#bg2{
    width: 300vw;
}
#bg3{
    margin-left: -30vw;
}

#barra-lateral{
    display: flex;
    justify-content: left;
    width: 100%;
    align-items: left;
    button {
        background: none;
        border: none;
        cursor: pointer;
    }
    img{
        height: 80px;
        width: 80px;
    }
    padding-bottom: 5vh;
}
#logo{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    img{
        height: 80px;
        width: 200px;
    }
}
#text{
    color: #ffffff;
    height: 50vh;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    text-align: center;
    flex-direction: column;
    
    /* Regra adicionada para destacar o texto */
    span.highlight {
        color: #007bff; /* Substitua pelo tom de azul desejado (ex: #007bff, #00d2ff, #1e90ff) */
    }
}

#line{
    width: 100%;
    display: flex;
    flex-direction: row;
}

#btn-solicite{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    img{
        height: 80px;
        width: 200px;
    }
}

@media screen and (min-width: 1024px) {
    img{
        max-width: 100vw;
        height: 100vh;
        margin-left: 0 !important;
    }
    #bg1{
        height: 100vh;
        max-width: auto;
    }
}